@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:light,regular,bold,italic&subset=latin,latin-ext");
@import url(vendors/bootstrap.min.css);
@import url(vendors/bootstrap-theme.min.css);
@import url(../../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../../node_modules/react-flexbox-grid/dist/react-flexbox-grid.css);
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: lighter;
  background-color: #eee !important;
  overflow-y: auto; }

.header {
  width: 100%;
  height: 120px;
  background-color: rgba(47, 65, 190, 0.87);
  display: flex; }
  .header__title {
    flex: 1;
    color: #DDD;
    justify-content: center;
    display: flex;
    align-items: center; }

.form input:focus, .form input:hover, .form input:active {
  border-color: #ccc !important;
  box-shadow: none !important; }

.form .btn {
  font-size: 16px;
  height: 40px;
  width: calc(100% / 4); }

.list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; }
  .list-container .card {
    margin: 5px; }

.card {
  background-color: #fff;
  border: 1px solid #bdbd;
  cursor: pointer;
  position: relative; }
  .card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.2); }
  .card .overlay {
    transition: all 0.5s ease;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute; }
  .card__header {
    text-align: center;
    background-color: rgba(186, 181, 181, 0.79);
    padding: 10px; }
  .card__body {
    padding: 10px; }

.btn__loading {
  margin-right: 5px; }

.error {
  color: rgba(213, 28, 28, 0.87);
  font-weight: 600; }
  .error .fa {
    margin-right: 5px; }

.alert {
  margin-top: 15px; }

.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in; }

.fade-leave {
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
